<%- include("partials/header") -%>

<link rel="stylesheet" href="css/webDev.css">
<main>
  <div class="wrapper">
    <h1 class="course-name">Web Development</h1>
    <hr>
    <div class="main-container">
      <% webDev.forEach(pL=> { %>

      <div class="video-name  <%= pL.style %> ">
        <a href="web-dev-course/<%= pL.id%> ">
          <%= pL.name %>
        </a>
      </div>

      <% }) %>
    </div>
  </div>

</main>
<%- include("partials/footer") -%>